body {
  width: 100vw;
  height: 100vh;
  font-family: "San Francisco";
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.link {
  all: unset;
  cursor: pointer;
}

a:hover {
  color: var(--primary-green);
}
